*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio
.idea
.idea/assetWizardSettings.xml
.idea/*
/*/release/output-metadata.json
/*/staging/output-metadata.json
#.idea/workspace.xml - remove # and delete .idea if it better suit your needs.
.navigation
captures/
output.json
build/
